.button {

  &:disabled {
    opacity: 0.7;
    cursor: not-allowed !important;
  }

  &-large {
    padding: 0.5rem 1.5rem !important;
  }

  &-primary {
    background-color: $primary !important;
    color: $white !important;
  }


  &-secondary {
    background-color: $gray-3 !important;
    color: $primary !important;
  }

}
