$primary: #6b75ff;
$gray: #8d8d94;
$gray-2:  #babbc2;
$gray-3: #e6e6eb ;
$gray-4: #f0f0f5;
$black: #272729;
$white: #fff;
$background:#f8f9fa;

$colors :(
  'primary': #6b75ff,
  'gray': #8d8d94,
  'gray-2':  #babbc2,
  'gray-3': #e6e6eb,
  'gray-4': #f0f0f5,
  'black': #272729,
  'white': #fff,
  'background':#f8f9fa
);
